/*hamletViz CSS*/

            .axis path,

            .axis line {
            fill: none;
            stroke: grey;
            stroke-width: 1;
            shape-rendering: crispEdges;
            }

            .axis text {
              font: 11px sans-serif;
            }




            div.tooltip {   
              position: absolute;           
              text-align: left;           
              width: 140px;                  
              height: 14px;                 
              padding: 2px;             
              font: 12px sans-serif;        
              /*background: navajowhite;  */
              border: 0px;      
              border-radius: 8px;           
              pointer-events: none;         
            }

            .hamlet {
              fill: red;
              stroke: blue;
            }

            .option {
            background:white; 
            color:black;
            float:left;
            }

             #control {

            float:left;
            font: 1.15em sans-serif;
              background-color: lightyellow;
              padding: 5px;
              border-style:solid;
              border-width:3px;
              border-radius: 15px;
              border-color: darkcyan;
              margin: 10px;
/*             position: absolute;
              z-index: 1000;*/
            }


            .chart {
            
            font: 1.11em sans-serif;
              
              padding: 5px;
              
              margin: 20px 10px 10px;
/*              position: absolute;
              float:left;
              z-index: 1000;*/
            }

            .symbol {
              fill: steelblue;
              fill-opacity: .8;
              stroke: #fff;
            }